flows.json
[
    {
        "id": "150e15e7.ebea6a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7346c77.35ba",
        "type": "mqtt-broker",
        "z": "",
        "name": "Raspberry pi mosquitto",
        "broker": "192.168.0.42",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "58ab591f.1ed598",
        "type": "mqtt out",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "qos": "",
        "retain": "",
        "broker": "f7346c77.35ba",
        "x": 1230,
        "y": 300,
        "wires": []
    },
    {
        "id": "99931bf9.58e658",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "FORWARD",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "e1a97901.7c5e38",
        "type": "debug",
        "z": "150e15e7.ebea6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1490,
        "y": 700,
        "wires": []
    },
    {
        "id": "d9a5b539.f415f8",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "LEFT",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "20a67493.ad10cc",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "STOP",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "418b3d71.cf7564",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "RIGHT",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "3417e27a.e09ebe",
        "type": "mqtt in",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "f7346c77.35ba",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "e1a97901.7c5e38"
            ]
        ]
    },
    {
        "id": "da7d7680.ceb4a8",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "CRAZY",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "f2fa0715.f92118",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "CRAZY2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "a68dcb1c.6ed018",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "AUTO",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    },
    {
        "id": "6b441ab.90c1be4",
        "type": "inject",
        "z": "150e15e7.ebea6a",
        "name": "",
        "topic": "mqttcar/input",
        "payload": "BACKWARD",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "58ab591f.1ed598"
            ]
        ]
    }
]